


body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  background-color: #2A6F97;
  line-height: 1.5;
}

p{
  font-size: medium;
}

.changesize {
  font-size: small;
}

h1 {
  color : #012A4A;
  font-weight: 900;
  font-size: xx-large;
}

h2 {
  color : #012A4A;
  font-size: large;
}
div {
  text-align: center;
  background-color: #A9D6E5 ;
  color: #013A63 ;
  border: 1px solid #012A4A;
  margin: 50px auto;
  border-radius: 4px;
}

img {
  width: 150px;
  border-radius: 50%;
}

.followme {
  text-align: center;
}

ul {
  list-style-type: none;
  display: inline;
  font-size: xx-large;
  padding: 0px;
}

a {
  color: #468FAF;
  text-decoration: overline;
  transition: 0.5s;
}

.lien:hover{
  color: #012A4A;
}


@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
